<html>
  <head>
    <meta charset="utf-8">
    <title>Spirit's Trip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Your banner code -->
    <div class="banner" style="background: linear-gradient(-225deg, rgba(56,59,61,0.6) 0%, rgba(150,60,62,0.6) 75%), url('https://source.unsplash.com/category/nature/1600x900');">
      <div class="banner-content text-center">
        <h1>Découvrez chaque mois un whisky à partager</h1>
        <div id="banner-btns">
          <a class="btn" href="#" role="button">s'abonner</a>
          <a class="btn" href="#" role="button">offrir</a>
        </div>
      </div>
    </div>
    <!-- Your features code -->
    <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <img src="../images/icones-globe-decouverte.png" alt="">
          <h2>Découvrir</h2>
          <p>Recevez chaque mois 35cl de whisky sélectionnés par nos soins</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <img src="../images/icone-school-apprendre.png" alt="">
          <h2>Apprendre</h2>
          <p>"Spirit's Time" toutes les news sur les spiritueux et le monde qui les entours</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <img src="../images/icone-friends-partager.png" alt="">
          <h2>Partager</h2>
          <p>Transmettez à vos amis les connaissances accumulées autour d'un verre</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <img src="../images/icone-shop-acheter.png" alt="">
          <h2>Acheter</h2>
          <p>Rachetez vos coups de coeur pour vous constituer la cave qui vous convient</p>
        </div>
      </div>
    </div>
    <!-- Your cards code -->
    <div class="wrapper-grey padded">
      <h2 class ="text-center">Abonnés et heureux</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="testimonial-card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
              <div class="testimonial-card-user" >
                <img class="avatar avatar-large" src="https://source.unsplash.com/category/people/100x100">
              </div>
              <h5>Bertrand</h5>
              <div class="testimonial-card-description text-center">
                <p><em>"Une fois par mois j'invites mes amis à déguster des whiskeys originaux chez moi. Ca change du Grant"</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- blog articles -->

    </div>
    <div class="wrapper padded">
      <div class="container">
        <div class="col-xs-12 col-sm-6">
          <div class="blog-card" style="background: linear-gradient(rgba(56,59,61,0.7), rgba(56,59,61,0.7)), url('https://source.unsplash.com/category/buildings');">
              <ul class="list-inline blog-card-tag">
                <li><a href="">whisky</a></li>
                <li><a href="">apprenstissage</a></li>
                <li><a href="">whiskypedia</a></li>
              </ul>
              <div class="blog-card-title">
                <h2>Comment lire l'étiquette d'un whisky et en comprendre les moindres détails</h2>
                <p>Par <a href="https://www.facebook.com/spiritstrip/">Spirit's Trip</a> le 12 février 2017</p>
                <div class="blog-read-btn">
                  <a href="" >Lire</a>
                </div>
              </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="blog-card" style="background: linear-gradient(rgba(56,59,61,0.7), rgba(56,59,61,0.7)), url('https://source.unsplash.com/category/nature');">
              <ul class="list-inline blog-card-tag">
                <li><a href="">whisky</a></li>
                <li><a href="">astuce</a></li>
                <li><a href="">whiskypedia</a></li>
              </ul>
              <div class="blog-card-title">
                <h2>Comment vous faire passer pour un fin connaisseur de malt</h2>
                <p>Par <a href="https://www.facebook.com/spiritstrip/">Spirit's Trip</a> le 12 février 2017</p>
                <div class="blog-read-btn">
                  <a href="" >Lire</a>
                </div>
              </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Your newsletter code -->
    <div class="wrapper red-zone">
      <div class="text-center" id="newsletter">
        <h2>Get news from us</h2>
        <p>Leave us your mail and get news from us</p>
        <form class="form-inline">
          <input type="email" placeholder="bob@gmail.com" class="form-control">
          <input type="submit" value="Subscribe" class="btn-bordered-gold">
        </form>
      </div>
    </div>
    <!-- Your footer code -->
    <div id="footer">
      <ul class="list-inline">
        <li><a href=""><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.instagram.com/spirits_trip/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/spiritstrip/"><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
      </ul>
      <p>Grâce à Spiit's trip apprenez à déguster les spiritueux entre amis</p>
    </div>
    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
